* {
  box-sizing: border-box;
}
body {
  background: url(http://geology.com/store/wall-maps/world-physical-map-lg.jpg); 
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
}
h1 {
  font-size: 88px;
  font-family: sans-serif;
  width: 45%;
  border-width: 30px;
  background-color: #FFD700; 
  padding: 10px 10px 10px 140px;
  opacity: 0.8;

}
button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
  background-color: #DAA520;
}
button:hover {
  color: #DAA520;
  font-stretch: expanded;
  cursor: pointer;
}
#timer {
  color: #DAA520;
  background-color: white;
  font-size: 50px;
  width:300px;
}
#form1 {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input {
  padding: 10px 10px 10px 10px;
}
input:hover {
  cursor: pointer;
}
h3 {
  font-size: 25px;
  font-style: bold;
  font-family: sans-serif;
  padding: 20px 20px 20px 20px;
}
#results {
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #FFD700;
  font-size: 35px;
  padding-bottom: 30px
  opacity: 0.8;
}
h2 {
  font-size: 25px;
  font-weight: bolder;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
